<div class="page-container">

    @if(this.isLoading){
        <div class="loader-container">
            <img src="assets/loading-icon.gif" alt="loading-icon"/>
        </div>
    }

    <div class="form-container">
        <div class="app-logo">
            <img src="assets/logo_img.png" alt="logo-img" style="height: 50px;"/>
            <img src="assets/logo_title.png" alt="logo-title"  style="height: 50px;" />
        </div>
        
        <div class="form-field">
            <input type="text" class="form-field-input" placeholder="username" [(ngModel)]="username"/>
        </div>

        <div class="form-field">
            <input type="password" class="form-field-input" placeholder="password" [(ngModel)]="password"/>
        </div>

        <div class="form-field-control">
            <input id="submit-btn" type="button" value="login" (click)="handleLoginRequest()"/>
        </div>

        <p style="color: #fff;">Don't have an account? <span style="text-decoration: underline; cursor: pointer;" routerLink="/register">Register</span></p>

        <p style="color: red;">{{responseError}}</p>
    </div>
</div>