<div class="menu-container">
    <div class="menu-logo" routerLink="/">
        <img src="assets/logo_img.png" height="40px" alt="logo_img" id="logo-img"/>
        <img src="assets/logo_title.png" height="40px" alt="logo_title" id="logo-title" />
    </div>

    <div class="menu-item" routerLink="/login" routerLinkActive="active-link">
        <i class="menu-item-icon fa-solid fa-right-to-bracket fa-fw" routerLinkActive="active-link"></i>
        <div class="menu-item-title" routerLinkActive="active-link">login</div>
    </div>
    
    <div class="menu-item" routerLink="/register" routerLinkActive="active-link">
        <i class="menu-item-icon fa-solid fa-user fa-fw" routerLinkActive="active-link"></i>
        <div class="menu-item-title" routerLinkActive="active-link">register</div>
    </div>
    
</div>