<div class="menu-container">
    <div class="menu-logo" routerLink="/">
        @if(showLogo){
        
            <img src="assets/logo_img.png" height="40px" alt="logo_img" id="logo-img"/>
            <img src="assets/logo_title.png" height="40px" alt="logo_title" id="logo-title" />
        }
    </div>

    @for (item of menuItems; track $index) {
        <div class="menu-item" [routerLink]="item.menu_item_link != '' ? item.menu_item_link : handleItemRoute(item)" routerLinkActive="active-link">
            <i [class]="item.menu_item_icon" class="menu-item-icon fa-solid fa-fw" routerLinkActive="active-link"></i>
            <div class="menu-item-title" routerLinkActive="active-link">{{item.menu_item_name}}</div>
        </div>
    }
    
</div>